<table class="table">
    <thead>
        <tr>
            <th>Week</th>
            <th>Date</th>
            <th>Tuesday</th>
            <th>Thursday</th>
            <th>Pset</th>
        </tr>
    </thead>
    <tbody>
        {% for (i, week) in weeks %}
            <tr class="{{ week.topic }} {% if today > week.date %} past {% endif %}">
                <td scope="row" style="text-align: center;">
                    <h4 class="bold" style="margin:5px 0;">{{i}}</h4>
                </td>
                <td>{{ week.date.strftime('%m/%d') }}</td>
                {% for lecture in week['lectures'] %}
                    <td><a href="/lecture/{{lecture.number}}">{{ lecture.title }}</a></td>
                {% endfor %}
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>