html {}

body, html {
    font-family: 'Nanum Gothic', sans-serif;
}

button, input,
div, textarea,
table, th, td,
a, nav, navbar, uk-navbar {
    font-family: 'Nanum Gothic', sans-serif;
}

table {
    font-family: 'Nanum Gothic', sans-serif;
}

thead {}

tbody {}

th, td {}

h1, h2, h3,
h4, h5, h6 
h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
    font-family: 'Roboto Slab', serif;
    margin: 10px 0;
}

a, a:visited, a:hover {
    color: #324EFB;
    font-weight: 400;
    text-decoration:none;
}

a.video_item >*:hover{
    opacity: 0.5;
}

.bold {
    font-weight: 700;
}

/* OVERWRITES */

.container.wrapper {
    padding-top: 50px;
}
.container,
.container.wrapper {
    max-width: 1300px;
}
.container, .container-fluid,
.container.wrapper {
    width: 100%;
}

.uk-navbar-dropdown-nav {
    font-size: 1rem;
}

.uk-navbar-dropdown.uk-open {
    top: 50px !important;
    box-shadow: 0px 0px 0px !important;
}
.codeBlock{
    display: grid;
}
.codeBlock code{
    white-space: pre-wrap;
}
.page_title > *, .no_margin {
    margin: 5px 0;
}

/* TOPICS */
.scratch { background-color: #fff5e8; }
.basics { background-color: #ffe9db; }
.c { background-color: #ffe8ef; }
.midterm { background-color: #ffffff; }
.python { background-color: #e8ffff; }
.mvc1, .mvc2 { background-color: #ffffff; }
.front_end { background-color: #edffe8; }
.final { background-color: #ffffff; }
.full_app { background-color: #ffffff; }
.javascript, .bootstrap, .github { background-color: #fffee0; }
.last_week { 
    background-color: #000;
    color: #fff;
}

.index-top {
    background-position: top;
    background-size: cover;
    color: white;
}

.index-top h1, .index-top h4 {
    color: white;
}

.last_week a,
.last_week h4 { 
    color: #fff;
}

.past,
.past a,
.past h4{ 
    background-color: #fff;
    color: #ccc !important;
}

.events {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}
.events .event {
    display: grid;
    grid-template-rows: 150px 15px auto 1fr auto;
    grid-gap: 10px;
    border: dotted 1px #ccc;
    overflow: hidden;
}
.events .event.empty {
    background-color: #f0f0f0;
    border: transparent;
}
.events .event,
.events .event.empty {
    border-radius: 5px;
    min-height: 300px;
}

.events .event .color-overlay {
    background-color: #578d9b;
    width: 100%;
    padding-top: 150px;
    opacity: 0.5;
}

.events .event .bg-image {
    background-size: cover;
    background-position: center;
}

.events .event .date {
    margin: 0;
    color: #ff0080;
}

.events .event .title,
.events .event .date,
.events .event .content {
    padding: 0 20px;
}
.events .event .event_link {
    margin-bottom: 0px !important;
}

.events .event .content {
    color: #aaa;
}

footer {
    background-image: url('/static/assets/black-bg.jpeg');
    background-color: #333;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
}

footer .footer {
    background-color: rgba(#000, 0.5);
    min-height: 200px;
    color: #fff !important;
    padding: 100px 0;
}

.footer .center_text {
    text-align: center;
}
.footer .right_text {
    text-align: right;
}

.footer .center_text,
.footer .right_text,
.footer .left_text {
    margin-bottom: 20px;
}


.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
    color: #fff;
    margin: 5px 0;
}

.infoItem {
    margin: 20px auto;
}

.infoItem .image {
    width: 100%;
    padding: 25%;
    background-size: cover;
    background-position: center;
}

.infoItem .text {
    padding: 10px 0;
    color: #aaa;
}

.footer-logo {
    max-width: 310px;
    width: 100%;
    float: right;
    margin: -20px -20px 20px 0;
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    max-width: 240px;
    float: right;
}

.staff-social {
    max-width: 140px;
    margin: 10px auto 20px;
}

.staff-social .icon {
    display: inline-block;
    width: 25%;
    margin: 5px 2%;
}
.staff-social .icon:hover {
    opacity: 0.5;
}

.staff {
    text-align: center;
}

.staff .desc {
    max-width: 80%;
    margin: 40px auto;
}

.placeholder {
    background-color: #ccc;
    width: 100%;
}

.placeholder.video {
    padding-top: 59% ;
    background-position: center;
    background-size: cover;
}

.cs50_prep .videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

#welcome_cohort_title {
    font-size: 50px;
    margin-bottom: 50px;
}


.courseLinks {
    font-size: large;
    padding: 20px;
}

.tab-1 { margin-left: 10px; }
.tab-2 { margin-left: 20px; }

.show-on-mobile { display: none; }

@media screen and (max-width: 500px) {
    .footer .center_text,
    .footer .right_text,
    .footer .left_text {
        text-align: center !important;
        margin: 30px auto;
    }
    .social-icons,
    .footer-logo {
        float: none;
        margin: 20px auto;
    }

    .hide-on-mobile { display: none; }
    .show-on-mobile { display: block !important; }
}