{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="container wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{title}}</h1>
        </div>
    </div>
</div>

<div class="container wrapper">
    <div class="row">
        <div class="col-sm-12">
            {{ activity.desc | safe }}
            <h2 class="bold"><u>Life Tasks:</u></h2>
            <br>

            <h4 class="bold">1- Grilled Cheese Sandwich.</h4>
            <p></p>
            
            <br><br>
            <h4 class="bold">2- .</h4>
            <p>Write </p>
            
            <br><br>
            <h4 class="bold">3- Fill the Tanks:</h4>
            <p>There are 4 cars parked in a gas station parking lot.</p>
            <p>Write pseudocode to bring each car to the pump and fill them up until it's full.</p>
            <p>Think about moving the car to the pump, and then moving it back to the parkign space.</p> 
            <p class="bold">To make it extra fun, 2 of the cars are half full, one is quarter full and one is empty.</p>
            
            <br><br>
            <h4 class="bold">4- Morning routine based time and weather.</h4>
            <p>Write pseudocode for a simple morning routine.</p>
            <p>Think about how many tasks you have to do and what steps you need to do in each task</p>
            <p>Don't make it too complicated, just simple enough to get out the door.</p>
            <p>Maybe find the group doing the grilled cheese sandwich and use their function? &#128521;</p>
            
            <hr>
            <h2 class="bold"><u>Practical Coding Tasks:</u></h2>

            <h4 class="bold">1- Guess the password.</h4>
            <p>Write a pseudocode for a developer to figure ot the logic of a password tool</p>
            <p>Think about getting the input from a user and saving it in a variable</p>
            <p>Think about what you need to do everytime they input the password and what needs to happen next.</p>
        </div>
    </div>
</div>
{% endblock %}