{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="container wrapper">
    <div class="row">
        <div class="col-sm-8">
            <h1>{{title}}</h1>
            <br>
            {% if activity.desc %}
                {{ activity.desc | safe }}
            {% endif %}
            {% if activity.challenges %}
                {% for challenge in activity.challenges %}
                    <h2 class="bold"> {{ challenge.title }}</h2>
                    <br>
                    {{ challenge.desc | safe }}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-sm-4">
            <h3 class="bold">Solutions:</h3>
            <hr>
            {% for challenge in activity.challenges %}
                {% if challenge.solution and activity.show_solutions %}
                    <p>
                        <a href="#show_solution" uk-toggle>
                            {{ challenge.title }} :: Solution   
                        </a>
                        
                        <div id="show_solution" class="uk-modal-container" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h2 class="uk-modal-title">Solution for {{ challenge.title }}</h2>
                                <p>
                                    {% include 'components/solution.html' %}
                                </p>
                                <p class="uk-text-center">
                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
                                </p>
                            </div>
                        </div>
                    </p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}