{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <header class="card my-3" id="intro-0">
                <div class="card-body">
                    <h1 class="text-center">After CS50x</h1>
                    <hr>
                    <p>
                        The purpose of this section is to share some resources and guidance as to
                        what your options are after taking CS50x. Now is the time to figure out what direction you
                        would like to take in Computer Science. CS50x can give you the foundation needed to follow
                        a career in many different fields from Web Development to Data Science to even Cyber 
                        Security. However, a foundation can only take you so far and we would like to share some
                        of the resources that can help you accomplish that, hopefully making your journey just a
                        little bit easier. Below are some of the tracks we feel are perfect routes to take after
                        CS50x should you decide that is what excites you.
                    </p>
                </div>
            </header>

            <section class="card my-3" id="web-development">
                <div class="card-body">
                    <h3>Web Development Track</h3>
                    <ul>
                        <li><a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">The Complete 2020 Web Development Bootcamp on Udemy.</a></li>
                        <li><a href="https://www.udemy.com/course/the-advanced-web-developer-bootcamp/">The Advanced Web Developer Bootcamp</a></li>
                        <li><a href="https://www.freecodecamp.org/">FreeCodeCamp</a></li>
                    </ul>
                </div>
            </section>

            <section class="card my-3" id="mobile-development">
                <div class="card-body">
                    <h3>Mobile Development Track</h3>
                    <ul>
                        <li><a href="https://www.udemy.com/course/the-complete-react-native-and-redux-course/">The Complete React Native on Udemy.</a></li>
                        <li><a href="https://www.udemy.com/course/ios-13-app-development-bootcamp/">IOS 13 & Swift 5 on Udemy.</a></li>
                        
                    </ul>
                </div>
            </section>

            <section class="card my-3" id="data-science">
                <div class="card-body">
                    <h3>Data Science Track</h3>
                    <ul>
                        <li><a href="https://www.udemy.com/course/the-modern-python3-bootcamp/">The Modern Python Bootcamp on Udemy.</a></li>
                        <li><a href="https://www.udemy.com/course/datascience/">Data Science A-Z on Udemy.</a></li>
                        
                    </ul>
                </div>
            </section>

        </div>
    </div>
</div>
{% endblock %}