<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/css/uikit.min.css" />

  </head>
  <body>


    <!-- NAVBAR -->
    <nav class="uk-navbar-container" uk-navbar style="padding:0 10%;">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="/"><img src="./static/assets/logo-full.svg" width="100px"></a>
                </li>
            </ul>
        </div>

        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a href="/education">Education</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/welcome">Welcome</a></li>
                            <li><a href="/syllabus">Syllabus</a></li>
                            <li><a href="/videos">Videos</a></li>
                            <li><a href="/">CS50 Reference</a></li>
                            <li><a href="/">CS50 IDE</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/media">Media</a></li>
                <li>
                    <a href="/resources">Resources</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="/after_cs50">After CS50</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/alumni">Alumni</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="/verification">Verification</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <!-- <li><a href="/login">Login</a></li> -->
                <li><a href="/registration"><button type="button" class="btn btn-dark">Register Now</button></a></li>
            </ul>
        </div>    
    </nav>
    
    <br><br>

    {% block body %}
    {% endblock %}
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/js/uikit-icons.min.js"></script>
  </body>
</html>