{% extends 'base.html' %}
{% block title %}{{title}} :: {{lecture.title}}{% endblock %}

{% block body %}

{%  if lecture.published %}
    <div class="container wrapper">
        <div class="row">
            <div class="col-sm-12 page_title">
                <h5>{{lecture.topic}}</h5>
                <h2>{{title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-9 ppt">
                {% with ppt_code = lecture.ppt_code %}
                    {% include 'components/slide.html' %}
                {% endwith %}

                {{ lecture.desc | safe }}


                {% if lecture.activities and lecture.activities | length > 0 %}
                    <h2 class="bold"><u>Activities</u></h2>
                    {% for activity in lecture.activities %}
                        {% if activity.published %}
                            <h3 class="bold">{{ activity.title }}</h3>
                            {{ activity.preview | safe }}
                            <br>
                            <a href="/activity/{{ activity.id }}">Start Activity</a>
                            <br>
                        {% endif %}

                    {% endfor %}
                {% endif %}
            </div>


            <div class="col-12 col-sm-3" style="padding: 15px 20px;">
                {% if 'harvard' in lecture %}
                    {% for harvLect in lecture.harvard %}
                        <div class="row">
                            <div style="display: inline-block; width: 20%; margin-right: 2%;">
                                <img src="/static/assets/harvard_logo.png" alt="">
                            </div>
                            <div style="display: inline-block; width: 78%;">
                                <a href="http://www.youtube.com/watch?v={{harvLect.id}}&start={{harvLect.time[0]}}&end={{harvLect.time[1]}} " target="_blank">Watch HARVARD Lecture</a><br>
                                <!-- <a href="#hardvard_video" uk-toggle>Watch HARVARD Lecture</a><br> -->
                                {{harvLect.title}} <br>
                                from: <b>{{ (harvLect.time[0]/60) | round(1, 'floor') }} mns</b> - to: <b>{{ (harvLect.time[1]/60) | round(1, 'floor') }} mns</b>
                                Duration: <b>{{ ((harvLect.time[1] - harvLect.time[0]) / 60) | round }} mns</b>
                            </div>
                            <!-- <div id="hardvard_video" class="uk-modal-container" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                    <h2 class="uk-modal-title">{{lecture.title}}</h2>
                                    <p>
                                        <iframe src="https://www.youtube-nocookie.com/embed/{{harvLect.id}}?start={{harvLect.time[0]}}&amp;end={{harvLect.time[1]}}&amp;autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1"
                                                width="1920" height="1080" frameborder="0" allowfullscreen uk-responsive 
                                                uk-video="automute: false">
                                        </iframe>
                                    </p>
                                </div>
                            </div> -->
                        </div>
                        <br>
                    {% endfor %}
                {% endif %}
                
                <br>
                
                <a href="#all-lectures" uk-toggle>
                    <div class="uk-button uk-button-primary">All Lectures</div>
                </a>
                
                <br><br>
                
                {% if lecture.videos and lecture.videos | length > 0 %}
                    <br>
                    <h3 class="bold"><u>Videos:</u></h3>
                    {% for video in lecture.videos %}
                        <ion-icon name="videocam"></ion-icon>
                        <a href="{{ video.url }}" target="_blank">{{ video.title }}</a>
                        <br>
                    {% endfor %}
                {% endif %}
                

                {% if lecture.resources and lecture.resources | length > 0 %}
                    <h3 class="bold"><u>Resources:</u></h3>
                    <ul>
                        {% for resource in lecture.resources %}
                            <li>
                                {% if resource.type == "video" %}<ion-icon name="videocam"></ion-icon>{% endif %}
                                {% if resource.type == "link" %}<ion-icon name="document-text-outline"></ion-icon>{% endif %}
                                {% if resource.type == "challenge" %}<ion-icon name="trophy-outline"></ion-icon>{% endif %}
                                {{ resource.title }}: <a href="{{ resource.url }}" target="_blank">{{ resource.desc }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                
            </div>
        </div>
    </div>

    <div id="all-lectures" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Lectures</h2>
            <p>
                {% for (i, l) in lectures %}
                    {% if l.title %}
                        {% if l.published %}
                            {{i}} - <a href="/lecture/{{i}}">{{l.title}}</a>
                        {% else %}
                            {{i}} - {{l.title}}
                        {% endif %}
                    {% endif %}
                    <br>
                {% endfor %}
            </p>
            <p class="uk-text-center">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
            </p>
        </div>
    </div>
{% else %}

<div class="container wrapper">
    <div class="row">
        <div class="col-12">
            <h3 class="bold">{{ lecture.title }}</h3>
            <h1>
                LECTURE NOT YET ACTIVATED
            </h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>
                But, I can tell you are eager to learn, so here's a fun fact:
            </h4>
            <br>
            <br>
            <br>
        </div>
        <div class="col-12 col-sm-4">
            <img src="http://www.computersciencelab.com/ComputerHistory/HtmlHelp/Images2/JacquardLoom.jpg" alt="">
        </div>
        <div class="col-12 col-sm-8">
            <h4 class="bold">The first “pre-computers” were powered by steam </h4>
            <p>In 1801, a French weaver and merchant, Joseph Marie Jacquard, <a href="http://www.computersciencelab.com/ComputerHistory/HistoryPt2.htm" target="_blank" rel="nofollow noopener">invented a power loom </a>that could base the design of a fabric upon punched wooden cards.</p>
            <p>Fast forward to the 1830s, and the world marvelled at <a href="http://www.computersciencelab.com/ComputerHistory/HistoryPt2.htm" target="_blank" rel="nofollow noopener">a device large as a house and powered by six steam engines</a>. It was&nbsp;invented by Charles Babbage, <a href="http://www.cbi.umn.edu/about/babbage.html" target="_blank" rel="nofollow noopener">the father of computing</a>&nbsp;– and he&nbsp;called it the Analytic Engine.</p>
            <p>Babbage used punch cards to allow the monstrous machine to be programmable. The machine consisted of <a href="http://www.britannica.com/technology/Analytical-Engine" target="_blank" rel="nofollow noopener">four parts</a>: The mill (analogous to CPU), the store (analogous to memory and storage), the reader (input) and the printer (output).</p>
            <p>It is the reader that makes the Analytic Engine <a href="http://www.britannica.com/technology/Analytical-Engine" target="_blank" rel="nofollow noopener">innovative</a>. Using the card-reading technology of the Jacquard loom, <a href="http://www.fourmilab.ch/babbage/cards.html" target="_blank" rel="nofollow noopener">three different punched cards were used</a>: Operation cards, number cards and variable cards.</p>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}