{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="container wrapper" style="text-align: center;">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{title}}</h1>
            <a href="/random_task">
                <button class="uk-button uk-button-primary">
                        Generate new task
                </button>
            </a>
        </div>
        <div class="col-12">
            <img src="/static/assets/random_tasks/{{ random_task }}.png" style="max-width: 900px;">
        </div>
    </div>
</div>
{% endblock %}