{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="container wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{title}}</h1>
            <hr>
        </div>
        <div class="col-sm-12">
            <h2>Step 1 - Selecting the course</h2>
            <h3>Using direct link</h3>
            <ul>
                <li>Follow the <a href="https://cs.mdc.edu/psp/PMYM1J/CUSTOMER/CAMP/c/MIS_STD_AEP_PRS.MIS_ADMT_ENRL_PAY.GBL?PAGE=MIS_CLASS_SRCH&INSTRUCTION_MODE=P&STRM=2195&CLASS_NBR=14433" target="_blank"> Registration Link</a> provided.</li>
                <li>Click on &quot;Select&quot; next to the listed course.</li>
                <li>Check the box next to the course and select &quot;Enroll in Selected Classes&quot;.</li>
            </ul>
            <h3>Searching course manually</h3>
            <ul>
                <li>Visit <a href="http://www.mdc.edu/ce/registration/" target="_blank">http://www.mdc.edu/ce/registration/</a>.</li>
                <li>Click &quot;Search and Register for Classes&quot;.</li>
                <li>Select &quot;Spring 2020&quot; as the term.</li>
                <li>Enter &quot;14433&quot; in the class number field.</li>
                <li>Click &quot;Search&quot;.</li>
                <li>Follow the instructions below:</li>
            </ul>
            <hr>
        </div>
        <div class="col-sm-12">
            <h2>Step 2 - MDC student account registration</h2>
            <h3>MDC student</h3>
            <ul>
                <li>Select &quot;Login to your account&quot; and</li>
                <li>Login with you student credentials.</li>
            </ul>
            <h3>Non-MDC student</h3>
            <ul>
                <li>Select &quot;Create an account&quot;</li>
                <li>Enter the necessary information.</li>
                <li>Click &quot;Create Account&quot;</li>
            </ul>
            <hr>
        </div>
        <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
                All payments must be processed by midnight of the same day as self-registering for a class in order to complete the registration. Failure to make the payment will result in an automatic drop from the class.
            </div>
            <h4>Please reach out to Miriam at <a href="mailto:mkohelze@mdc.edu">mkohelze@mdc.edu</a> or <a href="tel:305-237-7868">(305) 237-7868</a> if you have any questions.</h4>
        </div>
    </div>
</div>
{% endblock %}