<table class="table">
    <thead>
        <tr>
            <th>Week</th>
            <th>Date</th>
            <th>Tuesday</th>
            <th>Thursday</th>
            <th>Pset</th>
        </tr>
    </thead>
    <tbody>
        {% for (i, week) in weeks %}
            <tr>
                <td scope="row">
                    <h2 style="margin:5px 0;">{{i}}</h2>
                </td>
                <td>1/20/2020</td>
                {% for lecture in week['lectures'] %}
                <td><a href="/lecture/{{0}}">{{ lecture.title }}</a></td>
                {% endfor %}
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>