{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="container wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{title}}</h1>
        </div>
        <div class="col-sm-12" id="scrollspy-syllabus">
            
            
            

                <header class="card my-3" id="intro-0">
                <div class="card-body">
                <div class="text-center">
                
                    <h1><b>Cohort #10&nbsp;(Fall&nbsp;2019)</b></h1>
                </div>
                
                <p>CS50x Miami is <a href="http://www.theideacenter.co">The Idea Center</a> @ <a href="http://www.mdc.edu"> Miami Dade College&#39;s</a> adaptation of <a href="https://www.cs50.net">CS50</a>, Harvard University&#39;s introduction to the intellectual enterprises of computer science, and the art of programming, for MDC students and the South Florida community.</p>
                
                <p>But what does that mean?</p>
                
                <p>Well, CS50x Miami is a course that teaches you how to design and implement solutions to problems. But more than that, it teaches you how to think more critically, more methodically, more algorithmically, and more computationally, if you will.</p>
                
                <p>In fact, computer science itself isn&#39;t really about computers (or programming for that matter), it&#39;s really about information. How do you think about it? How do you represent it? And with what methods or algorithms can you process it?</p>
                
                <p>So, we&#39;ll first learn how to program with <a href="https://scratch.mit.edu/">Scratch</a>, a graphical programming language via which we&#39;ll explore some fundamental programming constructs, by dragging and dropping puzzle pieces.</p>
                
                <p>We&#39;ll then quickly transition to a more traditional text-based language called <a href="https://en.wikipedia.org/wiki/C_programming_language">C</a> that&#39;s actually been around quite a while. And as such, it doesn&#39;t come with that many features out of the box, so to speak. So anything you want the computer to do, you&#39;re going to have to teach it to do yourself; from the simplest of algorithms, to the most sophisticated.</p>
                </div>
                </header>
                
                <section class="card my-3" id="goals-1">
                <div class="card-body">
                <h2 class="card-title">Goals</h2>
                
                <p>The problems we&#39;ll solve in this course are inspired by real-world domains: cryptography, finance, forensics, gaming, and more.</p>
                
                <p>Over the course of CS50x Miami, you&#39;ll be part of a global community solving those same problems, surrounded by classmates and so many others on CS50x Miami&#39;s team.</p>
                
                <p>But the most successful outcome ahead is to do something, ultimately, that we&#39;ve not taught you. Indeed, what ultimately matters in this course is not so much where you end up relatively to your classmates, but where you end up relative to yourself when you began.</p>
                
                <p>And when you do end up there, will you be able to say proudly, &quot;I took CS50&quot;.</p>
                </div>
                </section>
                
                <section class="card my-3" id="outcomes-2">
                <div class="card-body">
                <h2 class="card-title">Outcomes</h2>
                
                <p>Upon successful completion of the course, students will be able to...</p>
                
                <ol>
                    <li>Analyze a problem and craft an appropriate algorithmic solution.</li>
                    <li>Understand the basic syntax of a programming language (C, Python) so that they can use that language to solve problems.</li>
                    <li>Design and write programs which utilize the following control structures: selection structures, loop structures, and functions.</li>
                    <li>Demonstrate the ability to effictively debug a program.</li>
                    <li>Utilize good program documentation practices in their program code.</li>
                    <li>Design a program given specific data storage and efficiency requirements.</li>
                    <li>Implement and use data structures such as stacks, queues, linked lists, trees, and tries in a computer program.</li>
                    <li>Analyze different methods of meeting programming objectives and use Big-O evaluation methods to identify the relative efficiencies of different solutions.</li>
                    <li>Apply basic object-oriented programming skills to write and debug programs in an O-O language (Python).</li>
                    <li>Understand the concepts behind the Model View Controller (MVC) design pattern.</li>
                    <li>Understand the Client-Server model and the HyperText Transfer Protocol (HTTP).</li>
                    <li>Design and implement a Website which utilizes HTML, CSS, JavaScript, and Ajax.</li>
                    <li>Be able to implement a Web service using a back-end scripting language (Python Flask) and templating language (Jinja).</li>
                    <li>Design and implement a relational database design with primary/foreign key constraints (SQLite).</li>
                    <li>Interact with a database using Structured Query Language (SQL) to add, modify, and remove data records.</li>
                </ol>
                </div>
                </section>
                
                <section class="card my-3" id="schedule-3">
                <div class="card-body">
                <h2 class="card-title">Schedule</h2>
                
                <h5 class="card-text">The course runs for approximately 20 weeks. Lectures are held&nbsp;at the Idea Center, 5th floor room 8525</h5>
                
                <ul class="card-text">
                    <li>Start Date: July&nbsp;23rd&nbsp;(Tuesday)</li>
                    <li>End Date: December&nbsp;12th (Thursday)</li>
                    <li><strong>No class Thanksgiving Week</strong></li>
                </ul>
                
                <h5 class="card-text">Each week students will engage in a variety of activities to develop programming and problem solving skills.</h5>
                
                <ul class="card-text">
                    <li>Lectures: Tuesday &amp; Thursday, 6:30 to 9:30 pm (Idea Center, 5th floor - Room 8525)</li>
                    <li>Sections: Friday, 7:00 to 9:00&nbsp;pm and Saturday, 10:00 am to 12:00 pm</li>
                    <li>Coding Hours: Tuesday &amp; Thursday, 4:00 to 6:00 pm &amp; Monday &amp; Wednesday 6:00 to 8:00 pm.</li>
                </ul>
                
                <p class="card-text">Each week, students are expected to attend the 2 scheduled lectures, plus one hands-on learning section. If you miss a lecture, or know in advance when you will miss a lecture, please let someone on the teaching staff know in advance so we can provide you a link to the lecture video. The sections will be offered at several different times throughout the week, and students must choose one time and attend that section regularly. Optional coding hours are also offered which given students additional assistance from the instructor or one of the other teaching staff members.</p>
                </div>
                </section>
                
                <section class="card my-3" id="teaching-staff-4">
                <div class="card-body">
                <h2 class="card-title">Teaching Staff</h2>
                
                <p>The teaching staff is lead by the instructor and contains several CS50x Miami alumni.</p>
                <br>
                <h4><b>Instructor</b></h4>
                Al Delcy<br>
                adelcy@mdc.edu
                
                <br><br><br>
                    
                <h4>Teaching Fellows</h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Urbano Baz</td>
                            <td>ubaz@mdc.edu</td>
                        </tr>
                        <tr>
                            <td>Steven Barkley</td>
                            <td>sbarkely@mdc.edu</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </section>
                
                <section class="card my-3" id="expectations-5">
                <div class="card-body">
                <h2 class="card-title">Expectations</h2>
                
                <p>Students are expected to complete 9-12 hours of work inside and outside of class each week. Typically, there is a homework assignment to prepare students for the next class session. We will provide optional supplemental reading materials as well. Students are expected to work on their project deliverables outside of class as well. CS50x Miami has a Slack instance to facilitate Q&amp;A with the instructor, the teaching staff, and collaboration among students.</p>
                
                <h5>You are expected to...</h5>
                
                <ul class="card-text">
                    <li>attend the required lectures and sections,</li>
                    <li>submit nine problem sets,</li>
                    <li>take two quizzes,</li>
                    <li>submit a final project, and</li>
                    <li>showcase your project at the end of the course.</li>
                </ul>
                </div>
                </section>
                
                <section class="card my-3" id="lectures-6">
                <div class="card-body">
                <h1 class="card-title">Lectures</h1>
                
                <p>During our lectures students are encouraged to participate in live demonstrations of problems. Often this involves, students playing the role of a computer, mimicking the memory in a computer, or just acting out instructions. The word &quot;lecture&quot; is used pretty loosely in CS50x Miami. If you miss a lecture, or know in advance when you will miss a lecture, please let someone on the teaching staff know in advance so we can provide you a link to the lecture video.&nbsp;</p>
                
                <br> <br>
                
                <h2>Class breakdown</h2> 
                
                <ul class="card-text">
                    <li>Announcements ( 10 mns ).</li>
                    <li>Small Recap ( 20 mns )</li>
                    <li>Lecture Part 1 ( 50 mns )</li>
                    <li>Break ( 15 mns )</li>
                    <li>Lecture Part 2 ( 50 mns )</li>
                    <li>Recap/Questions or Activity ( 30 mns )</li>
                </ul>
                
                <br><br>
                    
                <h2>Schedule</h2> (subject to change)
                
                <table id="lectures_table" cellpadding="15">
                    <tr>
                        <th>Week</th>
                        <th>Dates</th>
                        <th>Tuesday</th>
                        <th>Thursday</th>
                        <th>Pset Due / Date</th>
                    </tr>
                
                    <tr class="done">
                        <td><h3><b>0</b></h3></td>
                        <td class="dates">7/23 - 7/25</td>
                        <td>Scratch	</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="done">
                        <td><h3><b>1</b></h3></td>
                        <td class="dates">7/30 - 8/1</td>
                        <td>Command Line Interface, Data Types</td>
                        <td>Variables, Conditional Statements, Loops 1</td>
                        <td>Pset 0 (8/4/2019)</td>
                    </tr>
                    <tr class="done">
                        <td><h3><b>2</b></h3></td>
                        <td class="dates">8/6 - 8/8</td>
                        <td>Arrays, Loops 2, Operators</td>
                        <td>Functions, Variables Scope</td>
                        <td>Pset 1 (8/11/2019)</td>
                    </tr>
                    <tr class="done">
                        <td><h3><b>3</b></h3></td>
                        <td class="dates">8/13 - 8/15</td>
                        <td>Magic Numbers</td>
                        <td>Command Line Arguments, Algorithmic thinking</td>
                        <td></td>
                    </tr>
                    <tr class="done">
                        <td><h3><b>4</b></h3></td>
                        <td class="dates">8/20 - 8/22</td>
                        <td>Search Algorithms</td>
                        <td>Sorting Algorithms</td>
                        <td>Pset 2 (8/26/2019)</td>
                    </tr>
                    <tr class="done">
                        <td><h3><b>5</b></h3></td>
                        <td class="dates">8/27 - 8/29</td>
                        <td>Complexity Analysis</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="done">
                        <td><h3><b>6</b></h3></td>
                        <td class="dates"> 9/3 - 9/5</td>
                        <td>Simple Structs</td>
                        <td>Memory Management</td>
                        <td>Pset 3 (9/8/2019)</td>
                    </tr>
                    <tr class="done">
                        <td><h3><b>7</b></h3></td>
                        <td class="dates"> 9/10 - 9/12</td>
                        <td>Data Structures (Linked Lists, Queues, Stacks, etc.)</td>
                        <td>Algorithmic Thinking, HTML basics</td>
                        <td></td>
                    </tr>
                    <tr class="done">
                        <td><h3><b>8</b></h3></td>
                        <td class="dates"> 9/17 - 9/19</td>
                        <td>Quiz Prep</td>
                        <td class="quiz">Recap / Quiz 0</td>
                        <td>Pset 4 (9/22/2019)</td>
                    </tr>
                    <tr class="done">
                        <td><h3><b>9</b></h3></td>
                        <td class="dates"> 9/24 - 9/26</td>
                        <td class="htmlcss">HTML Styling, CSS, Bootstrap</td>
                        <td class="htmlcss"></td>
                        <td></td>
                    </tr>
                    <tr class="python done">
                        <td><h3><b>10</b></h3></td>
                        <td class="dates">10/1 - 10/4</td>
                        <td>Intro to Python: Data Types, Variables and Scope, Operators, Strings</td>
                        <td>Python: Lists, Dictionaries, tuples</td>
                        <td>Pset 5 (10/6/2019)</td>
                    </tr>
                    <tr class="python done">
                        <td><h3><b>11</b></h3></td>
                        <td class="dates"> 10/8 - 10/10</td>
                        <td>Python: Methods and functions</td>
                        <td>Python: Main Function and Libraries</td>
                        <td></td>
                    </tr>
                    <tr class="python">
                        <td><h3><b>12</b></h3></td>
                        <td class="dates">10/15 - 10/18</td>
                        <td>Python: Classes, Objects, Private Methods</td>
                        <td>Python: Inheritance, Advanced Syntax, Error Handling</td>
                        <td>Pset 6 (10/20/2019)</td>
                    </tr>
                    <tr class="python">
                        <td><h3><b>13</b></h3></td>
                        <td class="dates">10/22 - 10/25</td>
                        <td>Flask</td>
                        <td>Jinja</td>
                        <td></td>
                    </tr>
                    <tr class="python">
                        <td><h3><b>14</b></h3></td>
                        <td class="dates">10/29 - 11/1</td>
                        <td>Flask / Database Design</td>
                        <td>SQL</td>
                        <td>Pset 7 (11/3/2019)</td>
                    </tr>
                    <tr class="python">
                        <td><h3><b>15</b></h3></td>
                        <td class="dates">11/5 - 11/7</td>
                        <td class="javascript">JavaScript: Data Types, Variables and Scope, Operators, Conditional Statements,</td>
                        <td class="javascript">JavaScript: Loops, Functions, jQuery, AJAX</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><h3><b>16</b></h3></td>
                        <td class="dates">11/12 - 11/14</td>
                        <td >Review Day / Quiz Prep </td>
                        <td class="quiz">Recap / Quiz 1</td>
                        <td>Pset 8 (11/17/2019)</td>
                    </tr>
                    <tr class="track">
                        <td><h3><b>17</b></h3></td>
                        <td class="dates">11/19 - 11/21</td>
                        <td>Attend 1 track session per week	</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="track">
                        <td><h3><b>18</b></h3></td>
                        <td class="dates">11/26 - 11/28</td>
                        <td>Attend 1 track session per week	</td>
                        <td>Thanksgiving</td>
                        <td></td>
                    </tr>
                    <tr class="track">
                        <td><h3><b>19</b></h3></td>
                        <td class="dates">12/3 - 12/5</td>
                        <td>Attend 1 track session per week	</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="final">
                        <td><h3><b>20</b></h3>(Final)</td>
                        <td class="dates">12/10 - 12/12</td>
                        <td>Hack-a-thon (Tuesday)</td>
                        <td>Project Presentations (Thursday)</td>
                        <td></td>
                    </tr>
                </table>
                
                
                </div>
                </section>
                    
                    
                    
                    
                <section class="card my-3" id="psets-12">
                <div class="card-body">
                <h1 class="card-title">Problem Sets</h1>
                
                <p>Nine problem sets are assigned during the semester. Each is due by midnight Sunday (see dates below) unless otherwise indicated. Late work is not ordinarily accepted, except in cases of emergency. A schedule of problem sets, subject to change, appears below.</p>
                
                <p>All students are required to create an account at GitHub and register with the automatic grading system. You will have access to your grades and will be able to submit all P-Sets to the automatic grading system through the course IDE.</p>
                
                <p>P-sets are due at 11:59 pm on the days listed below.</p>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>P-Set</th>
                            <th>Description</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="https://docs.cs50.net/2019/x/psets/0/index.html">P-Set 0</a></td>
                            <td>
                            <p>Implement your very own Scratch project using Chrome, per&nbsp;<a href="https://docs.cs50.net/2019/x/psets/0/scratch.html">this specification</a>.</p>
                            </td>
                            <td>8/04/2019</td>
                        </tr>
                        <tr>
                            <td><a href="https://docs.cs50.net/2019/x/psets/1/index.html">P-Set 1</a></td>
                            <td>
                            <p>Submit&nbsp;<a href="https://lab.cs50.io/cs50/labs/2019/x/hello/">Hello</a></p>
                
                            <p>Submit one of:</p>
                
                            <ul>
                                <li><a href="https://lab.cs50.io/cs50/labs/2019/x/mario/less/">this version of Mario</a>&nbsp;if feeling less comfortable</li>
                                <li><a href="https://lab.cs50.io/cs50/labs/2019/x/mario/more/">this version of Mario</a>&nbsp;if feeling more comfortable</li>
                            </ul>
                
                            <p>Submit one of:</p>
                
                            <ul>
                                <li><a href="https://lab.cs50.io/cs50/labs/2019/x/cash/">Cash</a>&nbsp;if feeling less comfortable</li>
                                <li><a href="https://lab.cs50.io/cs50/labs/2019/x/credit/">Credit</a>&nbsp;if feeling more comfortable</li>
                            </ul>
                            </td>
                            <td>8/11/2019</td>
                        </tr>
                        <tr>
                            <td><a href="https://docs.cs50.net/2019/x/psets/2/index.html">P-Set 2</a></td>
                            <td>
                            <p>Submit any two (2) of:</p>
                
                            <ul>
                                <li><a href="https://lab.cs50.io/cs50/labs/2019/x/caesar/">Caesar</a>, if feeling less comfortable</li>
                                <li><a href="https://lab.cs50.io/cs50/labs/2019/x/vigenere/">Vigen&egrave;re</a>, if feeling less comfortable</li>
                                <li><a href="https://lab.cs50.io/cs50/labs/2019/x/crack/">Crack</a>, if feeling more comfortable</li>
                            </ul>
                            </td>
                            <td>8/26/2019</td>
                        </tr>
                        <tr>
                            <td><a href="https://docs.cs50.net/2019/x/psets/3/index.html">P-Set 3</a></td>
                            <td>
                            <p>Submit, using CS50 Lab,&nbsp;<a href="https://lab.cs50.io/cs50/labs/2019/x/whodunit/">Whodunit</a></p>
                
                            <p>Submit, using CS50 IDE, one of:</p>
                
                            <ul>
                                <li><a href="https://docs.cs50.net/2019/x/psets/3/resize/less/resize.html">this version of Resize</a>, if feeling less comfortable</li>
                                <li><a href="https://docs.cs50.net/2019/x/psets/3/resize/more/resize.html">this version of Resize</a>, if feeling more comfortable</li>
                            </ul>
                
                            <p>Submit&nbsp;<a href="https://docs.cs50.net/2019/x/psets/3/recover/recover.html">Recover</a>, using CS50 IDE</p>
                            </td>
                            <td>9/08/2019</td>
                        </tr>
                        <tr>
                            <td><a href="https://docs.cs50.net/2019/x/psets/4/index.html">P-Set 4</a></td>
                            <td>
                            <p>Submit, using CS50 IDE, one of:</p>
                
                            <ul>
                                <li><a href="https://docs.cs50.net/2019/x/psets/4/speller/hashtable/speller.html">this version of Speller</a>, if you&rsquo;d prefer to implement a hash table</li>
                                <li><a href="https://docs.cs50.net/2019/x/psets/4/speller/trie/speller.html">this version of Speller</a>, if you&rsquo;d prefer to implement a trie</li>
                            </ul>
                            </td>
                            <td>9/22/2019</td>
                        </tr>
                        <tr>
                            <td><a href="https://docs.cs50.net/2019/x/psets/5/index.html">P-Set 5</a></td>
                            <td>
                            <p>Submit, using CS50 IDE,&nbsp;<a href="https://docs.cs50.net/2019/x/psets/5/homepage/homepage.html">Homepage</a></p>
                            </td>
                            <td>10/6/2019</td>
                        </tr>
                        <tr>
                            <td><a href="https://docs.cs50.net/2019/x/psets/6/index.html">P-Set 6</a></td>
                            <td>
                            <p>Submit, using CS50 IDE,&nbsp;<a href="https://docs.cs50.net/2019/x/psets/6/sentimental/hello/hello.html">Hello</a>&nbsp;in Python</p>
                
                            <p>Submit, using CS50 IDE, one of:</p>
                
                            <ul>
                                <li><a href="https://docs.cs50.net/2019/x/psets/6/sentimental/mario/less/mario.html">this version of Mario</a>&nbsp;in Python, if feeling less comfortable</li>
                                <li><a href="https://docs.cs50.net/2019/x/psets/6/sentimental/mario/more/mario.html">this version of Mario</a>&nbsp;in Python, if feeling more comfortable</li>
                            </ul>
                
                            <p>Submit, using CS50 IDE, one of:</p>
                
                            <ul>
                                <li><a href="https://docs.cs50.net/2019/x/psets/6/sentimental/cash/cash.html">Cash</a>&nbsp;in Python</li>
                                <li><a href="https://docs.cs50.net/2019/x/psets/6/sentimental/credit/credit.html">Credit</a>&nbsp;in Python</li>
                            </ul>
                
                            <p>Submit, using CS50 IDE, one of:</p>
                
                            <ul>
                                <li><a href="https://docs.cs50.net/2019/x/psets/6/sentimental/caesar/caesar.html">Caesar</a>&nbsp;in Python</li>
                                <li><a href="https://docs.cs50.net/2019/x/psets/6/sentimental/crack/crack.html">Crack</a>&nbsp;in Python</li>
                                <li><a href="https://docs.cs50.net/2019/x/psets/6/sentimental/vigenere/vigenere.html">Vigen&egrave;re</a>&nbsp;in Python</li>
                            </ul>
                
                            <p>Submit, using CS50 IDE,&nbsp;<a href="https://docs.cs50.net/2019/x/psets/6/bleep/bleep.html">Bleep</a>&nbsp;in Python</p>
                            </td>
                            <td>10/20/2019</td>
                        </tr>
                        <tr>
                            <td><a href="https://docs.cs50.net/2019/x/psets/7/index.html">P-Set 7</a></td>
                            <td>
                            <p>Submit, using CS50 IDE,&nbsp;<a href="https://docs.cs50.net/2019/x/psets/7/similarities/similarities.html">Similarities</a></p>
                
                            <p>Submit, using CS50 IDE,&nbsp;<a href="https://docs.cs50.net/2019/x/psets/7/survey/survey.html">Survey</a></p>
                            </td>
                            <td>11/3/2019</td>
                        </tr>
                        <tr>
                            <td><a href="https://docs.cs50.net/2019/x/psets/8/index.html">P-Set 8</a></td>
                            <td>
                            <p>Submit, using CS50 IDE,&nbsp;<a href="https://docs.cs50.net/2019/x/psets/8/finance/finance.html">Finance</a></p>
                            </td>
                            <td>11/17/2019</td>
                        </tr>
                    </tbody>
                </table>
                
                <p>Problem sets are generally graded on three axes. They, along with some pertinent questions to consider, appear below:</p>
                
                <ul>
                    <li>Correctness: To what extent is your code consistent with the problem specifications and free of bugs? This is tested by comparing your code against a series of test cases.</li>
                    <li>Style: To what extent is your code readable (i.e., commented and intended with variables aptly named? Can I easily tell (via braces/indentation) the boundaries of each block of code?Is it clear what this variable does, based on its name? If I didn&rsquo;t understand C code, would I be able to tell what is happening based on comments alone? Are there so few or so many comments that I am distracted by their presence or absence?</li>
                    <li>Design: To what extent is your code written well (i.e., clearly, efficiently, elegantly, and/or logically)? Can Repeated code be eliminated? Is there a &ldquo;shorter&rdquo; way to accomplish the same thing? Should some code have been broken out into its own function?</li>
                </ul>
                </div>
                </section>
                    
                    
                
                <section class="card my-3" id="sections-7">
                <div class="card-body">
                <h1 class="card-title">Sections</h1>
                
                <p>Lectures are supplemented by weekly, 120-minute sections led by the teaching fellows. Sections provide you with opportunities to explore the course&#39;s material in a more intimate environment, with only your teaching fellow and a handful of classmates present, as well as to dive into hands-on activities. Although you can attend multiple sections if your personal schedule allows, you are required to attend the same section you signed up for during selection at minimum.</p>
                
                <p>Most sections, students will be assigned a programming activity to complete and will be randomly divided into groups of 2. This activity will be related to the material that they learned in the lectures for that week. While these activities are not graded, students gain additional insight into the assigned P-sets.&nbsp;</p>
                
                <p><strong>Section sessions are held Friday, 7:00 - 9:00 pm. Saturday, 10:00 - 12:00 pm.</strong></p>
                
                <h5>Each Section will contain...</h5>
                
                <ul class="card-text">
                    <li>An introduction to the activity of the day. (15 minutes).</li>
                    <li>An assigned programming activity. (approx. 60 minutes to 85 minutes).</li>
                    <li>Additional time for discussion. (approx. 15 minutes to 30 minutes).</li>
                </ul>
                
                <p>Section material will correspond with the proceeding lecture material and will will coincide with the schedule above for Harvard Lecture material weeks 0-9b (approximately 15 section meetings).</p>
                
                <p>A schedule for sessions, subject to change, appears below.</p>
                
                <table id="sections" cellpadding="15" width="100%">
                    <tbody>
                        <tr>
                            <td><strong>Session</strong></td>
                            <td><strong>Topic</strong></td>
                            <td><strong>Date (Friday)</strong></td>
                            <td><strong>Date (Saturday)</strong></td>
                        </tr>
                        <tr>
                            <td>Week 1</td>
                            <td>C:
                            Command Line Interface, Data Types, Operators, Conditional Statements, Loops</td>
                            <td><strong>8/02/2019</strong></td>
                            <td><strong>8/03/2019</strong></td>
                        </tr>
                        <tr>
                            <td>Week 2</td>
                            <td>C:
                            Arrays, Functions, Variables and Scope, Command Line Arguments, Magic Numbers</td>
                            <td><strong>8/09/2019</strong></td>
                            <td><strong>8/10/2019</strong></td>
                        </tr>
                        <tr>
                            <td>Week 3</td>
                            <td>Algorithms<br />
                            Computational Complexity, Sorting (Bubble, Selection, Insertion, Merge), Searching (Linear, Binary)</td>
                            <td><strong>8/16/2019</strong></td>
                            <td><strong>8/17/2019</strong></td>
                        </tr>
                        <tr>
                            <td>Week 4</td>
                            <td>Memory:<br />
                            File I/O, Hexadecimal, Pointers, Dynamic Memory Allocation, Structures, Defining Custom Types, Recursion, Call Stack</td>
                            <td><strong>8/23/2019</strong></td>
                            <td><strong>8/24/2019</strong></td>
                        </tr>
                        <tr>
                            <td>Week 5</td>
                            <td>Data Structures:File Pointers, Singly-Linked Lists, Doubly-Linked Lists, Stacks, Queues, Trees, Hash Tables, Tries</td>
                            <td><strong>8/30/2019</strong></td>
                            <td><strong>8/31/2019</strong></td>
                        </tr>
                        <tr>
                            <td>Week 6</td>
                            <td>Quiz #0 Review</td>
                            <td><strong>9/06/2019</strong></td>
                            <td><strong>9/07/2019</strong></td>
                        </tr>
                        <tr>
                            <td>Week 7</td>
                            <td>HTTP:<br />
                            Internet Primer, IP, TCP, HTML, CSS</td>
                            <td><strong>9/13/2019</strong></td>
                            <td><strong>9/14/2019</strong></td>
                        </tr>
                        <tr>
                            <td>Week 8</td>
                            <td>Dynamic Programming</td>
                            <td><strong>9/20/2019</strong></td>
                            <td><strong>9/21/2019</strong></td>
                        </tr>
                        <tr>
                            <td>Week 9</td>
                            <td>Python: Flask, Jinja</td>
                            <td><strong>9/27/2019</strong></td>
                            <td><strong>9/28/2019</strong></td>
                        </tr>
                        <tr>
                            <td>Week 10</td>
                            <td>JavaScript:<br />
                            DOM</td>
                            <td><strong>10/04/2019</strong></td>
                            <td><strong>10/05/2019</strong></td>
                        </tr>
                        <tr>
                            <td>Week 11</td>
                            <td>Quiz #1 Review&nbsp;</td>
                            <td><b>10/11/2019</b></td>
                            <td><strong>10/12/2019</strong></td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </section>
                    
                
                <section class="card my-3" id="tracks-9">
                <div class="card-body">
                <h2 class="card-title">Specialization Tracks</h2>
                
                <p>After the first 15 weeks of the course, students are able to choose from one of three specialization tracks to learn more about coding. These tracks are based upon Harvard&#39;s own specialization courses. This material is presented as an additional educational experience for students, but has no direct impact on grading as there are no direct assignments for this portion of the course. Students are strongly encouraged to base their final projects on the material learned from these tracks.</p>
                
                <p>The three tracks available to choose from are below. These tracks mirror the introduction to full courses which may be completed from HarvardX.</p>
                
                <ul>
                    <li>
                    <h5>Web Programming with Python and JavaScript</h5>
                
                    <p>This track continues where the core CS50x Miami lectures leave off, diving more deeply into the design and implementation of web apps with Python, JavaScript, and SQL using frameworks like Flask, Django, and Bootstrap. Topics include more database design, scalability, security, and user experience.</p>
                    </li>
                    <li>
                    <h5>Mobile App Development with React Native</h5>
                
                    <p>This track transitions from web development to mobile app development with React Native, a popular open-source framework maintained by Facebook that enables cross-platform native apps using JavaScript without Java or Swift. The track introduces students to modern JavaScript (including ES6 and ES7) as well as to JSX, a JavaScript extension.</p>
                    </li>
                    <li>
                    <h5>Introduction to Game Development</h5>
                
                    <p>This track focuses on the development of 2D and 3D interactive games. Students explore the design of such childhood games as Super Mario Bros., Legend of Zelda, and Portal in a quest to understand how video games themselves are implemented. Via lectures and hands-on projects, the course explores principles of 2D and 3D graphics, animation, sound, and collision detection using frameworks like Unity and L&Ouml;VE 2D, as well as languages like Lua and C#.</p>
                    </li>
                </ul>
                
                <p>Details about how to sign-up for the specific tracks will be given later on in the course.</p>
                </div>
                </section>
                
                    
                <section class="card my-3" id="coding-hours-8">
                <div class="card-body">
                <h2 class="card-title">Coding Hours</h2>
                
                <p>Coding hours are opportunities for assistance with problem sets alongside the course&#39;s teaching staff. Office hours schedule sometimes overlap with sections, but their help is always available as there will be multiple staff members on hand. They take place in the same room as that day&#39;s section.</p>
                
                <p><strong>Coding Hours Schedule: Tuesday &amp; Thursday, 4:00 to 6:00 pm &amp; Mondays &amp; Wednesdays 6:00 to 8:00 pm.</strong></p>
                </div>
                </section>    
                
                    
                <!--
                <section class="card my-3" id="grading-10">
                <div class="card-body">
                <h2 class="card-title">Grading Breakdown</h2>
                
                <p>Final grades are determined using the following weights:</p>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Evaluation</th>
                            <th>Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Quizzes</td>
                            <td>25%</td>
                        </tr>
                        <tr>
                            <td>P-Sets</td>
                            <td>25%</td>
                        </tr>
                        <tr>
                            <td>Final Project Pitch</td>
                            <td>5%</td>
                        </tr>
                        <tr>
                            <td>Final Project Blog</td>
                            <td>15%</td>
                        </tr>
                        <tr>
                            <td>Final Project</td>
                            <td>30%</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </section>
                -->
                
                <section class="card my-3" id="quizzes-11">
                <div class="card-body">
                <h1 class="card-title">Quizzes</h1>
                
                <p>Students will be given two 120-minute quizzes throughout the course. These quizzes are given online and may be taken at any time within the two-week window provided by the instructor.</p>
                
                <p>When final grades are computed, your scores on these two quizzes are weighted equally.</p>
                
                <p>Unless arranged with the course staff in advance, quizzes cannot ordinarily be taken at alternative times even if missed by accident, except in cases of medical emergency.</p>
                </div>
                </section>
                
                
                <section class="card my-3" id="project-13">
                <div class="card-body">
                <h2 class="card-title">Final Project</h2>
                
                <p>The climax of this course is its final project. The final project is your opportunity to take your newfound savvy with programming out for a spin and develop your very own piece of software. So long as your project draws upon this courses lessons, the nature of your project is entirely up to you, albeit subject to the staff&#39;s approval. All that we ask is that you build something of interest to you, that you solve an actual problem, that you impact campus, or that you change the world. Strive to create something that outlives this course.</p>
                
                <p>That being said, there are some provisos. You may implement your project in any language(s) as long as the staff approves. You are welcome to utilize any infrastructure, provided the staff ultimately has access to any hardware and software that your project requires. The Idea Center has some hardware that may be used in some cases.</p>
                
                <p>Inasmuch as software development is rarely a one-person effort, you are allowed an opportunity to collaborate with one or two classmates for this final project. Needless to say, it is expected that every student in any such group contribute equally to the design and implementation of that group&rsquo;s project. Moreover, it is expected that the scope of a two- or three-person group&rsquo;s project be, respectively, twice or thrice that of a typical one-person project. A one-person project, mind you, should entail more time and effort than is required by each of the course&rsquo;s problem sets. Although no more than three students may design and implement a given project, you are welcome to solicit advice from others, so long as you respect the course&rsquo;s policy on academic honesty.</p>
                
                <p>The final project consists of 3 parts:</p>
                
                <ul>
                    <li>A project proposal. Students must present their projects in a closed-room presentation to the teaching staff. This presentation should be no more than 5 minutes in length and should describe what the individual or team wishes to accomplish in the final project. All projects must be pitched in this manner and approved before the project submission will be accepted for grading.</li>
                    <li>A project blog page. Each individual student (regardless if they are on a team) must create a blogging Website. This site must not utilize an existing content management system. A user authentication system should be implemented which allows a registered user to create, edit, or delete blog posts.</li>
                    <li>An individual or collaborative final project as described above. This project may utilize any content you learned from the core CS50x Miami material or the extended tracks near the end of the course.</li>
                </ul>
                
                <p>Each component of the project will be graded and the respected weighted totals will be applied to the student&#39;s final grade.</p>
                </div>
                </section>
                
                <section class="card my-3" id="parking-14">
                <div class="card-body">
                <h2 class="card-title">Parking</h2>
                
                <p>Parking in the MDC Building 7 parking lot will be provided to all registered students! Visit the Student Life Office, Room 2101. Monday through Thursday from 8:00 a.m. to 7:00 p.m and Friday 8:00 a.m. to 4:30 p.m. to pick up your Student ID. You must bring a copy of your schedule along with you. Once you have obtained a student ID, you can pick up a parking decal. You must bring your car registration with you.</p>
                </div>
                </section>
                
                <section class="card my-3" id="honesty-15">
                <div class="card-body">
                <h2 class="card-title">Academic Honesty</h2>
                
                <p>For each graded assignment (quiz, p-set, project), you will be expected to provide attribution to any resources that you accessed which was not specifically given in the course lectures or sections. While building upon the publicly-available work of others is acceptable and encouraged, in no circumstances is it acceptable to do so and present it as your own. This includes attempting to pass off another student&rsquo;s code as if it is your own. While it is encouraged that you share ideas with your classmates, you should never share code. If you are concerned that what you may be submitting violates standard academic dishonesty principles, ask a teaching staff member prior to submitting the assignment.</p>
                
                <p>All assignments are subject to automated&nbsp;plagiarism detection upon submission. Significant evidence of plagiarism&nbsp;may result in receiving a score of 0 for the offending assignment and/or expulsion&nbsp;from the course for all parties involved.</p>
                
                <p>You may opt to incriminate yourself in&nbsp;plagiarism and forgo the harshest penalties if contact heads@cs50xmiami.com with 48 hours of submitting the assignment and admit to violating this policy.</p>
                </div>
                </section>
                
                <section class="card my-3" id="agreement-16">
                <div class="card-body">
                <h2 class="card-title">Release Agreement</h2>
                
                <p>The Idea Center reserves the right to record audio, photos, and video of any CS50x Miami lectures, sections, office hours, seminars, and other events and activities related to CS50x Miami, with the aims of making the content of the course more widely available and contributing to public understanding of innovative learning, including but not limited to the marketing of this course. The recordings, or edited versions of them, may be made available to other Miami Dade College students, to students at other educational institutions, and to the broader public via the Internet, television, theatrical distribution, digital media, or other means. It is also possible that the Recordings may be used to make other derivative works in the future. Students may elect not to appear in photos and video and may still participate fully in CS50x Miami.</p>
                
                <p>Upon registering for the course, you agree to the Acknowledgement and Authorization in the following form:</p>
                
                <blockquote>
                <h5>Acknowledgement &amp; Authorization</h5>
                
                <p>I understand that, if I do not wish any photos or video of me to be used, I should so inform the course coordinator by emailing heads@cs50xmiami.com within one week of enrolling in CS50x Miami. In that event, I understand that I should sit in the designated &quot;no-film&quot; zone of the classroom and should not walk in the field of view of the cameras. I understand that The Idea Center will take reasonable steps, with my cooperation, to avoid including identifiable photos and video shot in classrooms and other course locations after I opt out as just described. I understand that I am free to opt out of photos and video in this way, and that doing so will not affect my grade or my ability to participate in course activities.</p>
                
                <p>Unless I opt out as described above and take the steps that will be outlined by the instructor to avoid being filmed, I authorize The Idea Center and its designees to record and use photos and video of my participation in CS50x Miami and activities related to CS50x Miami. I understand and agree that the captured media may include my image, name, and voice. I also understand and agree that, even if I opt out, my spoken name and voice may be picked up by microphones outside the &quot;no-film&quot; zone and may be recorded.</p>
                
                <p>I understand and agree that The Idea Center and its designees will have the irrevocable, worldwide right to make, edit, modify, copy, publish, transmit, distribute, sell, publicly display, publicly perform, and otherwise use and make available its respective recordings and any other works that may be derived from those recordings, in any manner or medium now known or later invented, and to authorize others to do so as well. I hereby transfer to The Idea Center any rights, including copyrights, I may have in the recordings that The Idea Center makes. I will remain free to use and disseminate any ideas, remarks, or other material that I may contribute to course discussions.</p>
                
                <p>I acknowledge and agree that I will not be entitled to any payment, now or in the future, in connection with the recordings or any works derived from them. This Acknowledgment and Authorization is a binding agreement, and is signed as a document under seal governed by the laws of the State of Florida.</p>
                
                <p>Unless you opt out as described in the Acknowledgment and Authorization, you are agreeing, by attending CS50x Miami, that your participation in CS50x Miami and related activities may be recorded and used by The Idea Center without further obligation or liability to you, even if you do not sign any authorization.</p>
                </blockquote>
                </div>
                </section>
                
                <section class="card my-3" id="registration-17">
                <div class="card-body">
                <h2 class="card-title">Registration and Withdrawl</h2>
                
                <p>Students must register for the course by the given deadlines stated on the course Website to be eligible to attend the course. No option to audit the course will be given. Payment must be made in full by the registration deadline. No option is available for a installment plan or traditional financial aid for this course.</p>
                
                <p>In order to withdraw from the course to obtain a refund for the tuition of the course, the intent to withdraw must be sent to the instructor for the course within 24 hours of the start of the first class meeting time. Failure to notify the instructor by this deadline will result in to refund for the course. Partial refunds for the course are not possible.</p>
                </div>
                </section>


    


        </div>
    </div>
</div>
{% endblock %}