{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block body %}


<style>
    .row {
        margin: 100px auto ;
    }
</style>

<div class="container wrapper">
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            <h1 class="bold" id="welcome_cohort_title">
                {{title}} Cohort {{cohort}} &#128515
            </h1>
        </div>
        <div class="col-sm-12">
            <div class="welcome_video placeholder video"></div>
        </div>
    </div>


    <center><h1>CS50 PREP</h1></center>
    <div class="row">
        <div class="col-sm-12 cs50_prep">
            <br><br>
            <div class="videos">
                {% for video in  prep_vids %}
                    {% include 'components/video_widget.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h2 class="bold" style="text-decoration: underline;">Recommendation</h2>
            <h3>Explained (Netflix)</h3>
            <h4>Season 2 Episode 5: Coding</h4>
            It looks at how computer code is pervasive in how it effects our lives.
            It looks at the development of machine code first in the textile industry and
            later binary code in early mechanical computers. It also discusses computer logic,
            algorithms, computer languages, personal computing, and machine learning.
        </div>
        <div class="col-sm-4">
            <a href="https://www.netflix.com/title/80216752" target="_blank">
                <img src="/static/assets/explained_code.jpg" alt="">
            </a>
        </div>
    </div>

   

    <center><h1>COMPUTER PREP</h1></center>
    <div class="row">
        <div class="col-sm-4">
            <a class="video_item" href="#system_reqs" uk-toggle>
                <div class="placeholder video" style="background-image: url('https://cdn.mos.cms.futurecdn.net/deRfJz68gEUQ2VayR4DCyF.jpg');"></div>
            </a>
            <div id="system_reqs" class="uk-modal-container" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <h2 class="uk-modal-title">System Requirements</h2>
                    <p>
                        <div class="placeholder video"></div>                        
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <h2 class="bold" style="text-decoration: underline;">System Requirements</h2>
            <div class="row" style="margin: 0;">
                <div class="col-sm-6">
                    <h5 class="bold">Operating Systems</h5>
                    <hr class="uk-divider-small">
                    <span class="bold">Mac:</span> or later<br>
                    <span class="bold">Windows:</span> 7 or later ( preferably 10 )<br>
                    <span class="bold">Linux</span> ( preferably Ubuntu )<br>
                </div>
                <div class="col-sm-6">
                    <h5 class="bold">Specs</h5>
                    <hr class="uk-divider-small">
                    <span class="bold">RAM:</span> or later<br>
                    <span class="bold">HDD Space:</span> 7 or later ( preferably 10 )<br>
                    <span class="bold">Linux</span> ( preferably Ubuntu )<br>
                </div>
                <div class="col-sm-12" style="margin-top: 10px;">
                    <h6 class="bold">** Can I work on a Tablet?</h6>
                </div>
            </div>
        </div>
        
    </div>    

    <div class="row">
        <div class="col-sm-6">
            <h4 class="bold">Prepping your system</h4>
            <hr>
            How to configure windows, mac and linux
        </div>
        <div class="col-sm-6">
            <h4 class="bold">Programming Tools</h4>
            <hr>
            IDEs, Languages and software
        </div>
    </div>



    <center><h1>COURSE INFO</h1></center>

    <div class="row">
        <div class="col-sm-4">
            <center>
                <a href="#">
                    <button class="uk-button uk-button-default uk-button-large">COHORT {{cohort}} SYLLABUS</button>
                </a>
            </center>
        </div>

        <div class="col-sm-4">
            <center>
                <a href="#">
                    <button class="uk-button uk-button-default uk-button-large">COURSE LECTURES</button>
                </a>
            </center>
        </div>

        <div class="col-sm-4">
            <center>
                <a href="#">
                    <button class="uk-button uk-button-default uk-button-large">PSETS</button>
                </a>
            </center>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <h2  class="bold" style="text-decoration: underline;">FAQ</h2>
        </div>
    </div>
</div>
{% endblock %}